.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 0.005px solid white;
}

.navbar > h1 {
    font-size: 30px;
    color: yellow;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links > a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 0 15px;
}